.every-team{
    text-align: center;
}

.link-btn{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
    color: white;
}

.link-style {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 114px;
    padding: 8px 17px;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
    transition: border-color .2s ease, background-color .2s ease;
    z-index: 10;
}
.link-style:hover {
    text-decoration: none;
    background-color: transparent;
    color: #fff;

}
