.team-headline {
  background: url(../Images/ground-9.jpg);
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: grid;
  color: white;
  grid-template-columns:repeat(1, 1fr);
  align-items: center;
  margin-bottom: 10px;
}
.team-container {
  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);  
  padding: 25px 0px;
  border-radius: 10px;
}

.football-team{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

/* Responsive  */
@media only screen and (min-width: 500px) {
    .football-team {
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
    }
  }

@media only screen and (min-width: 768px) {
    .football-team {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }
  }
  @media only screen and (min-width: 1100px) {
    .football-team {
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
    }
  }